/***********************************         Responsive The Designs      *****************************/
@media only screen and (max-width: 991px) {
    .portfolio-section .portfolio-item,
    .service-section .service-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}




@media only screen and (max-width: 767px) {
    .about-section .about-info,
    .about-section .about-img,
    .about-section .skills .skill-item,
    .home-section .home-text,
    .home-section .home-img,
    .service-section .service-item,
    .portfolio-section .portfolio-item,
    .portfolio-popup .description,
    .portfolio-popup .info,
    .contact-section .contact-item,
    .contact-section .w-50 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home-section .home-text {
        order: 2;
    }

    .home-section .home-text,
    .contact-section .submit-btn {
        text-align: center;
    }    

    .home-section .full-screen {
        padding: 100px 0;
    }

    .home-section .home-img .img-box {
        margin-bottom: 40px;
        min-width: 350px;
    }

    .effect-3 {
        margin-left: -60px;
    }

    .effect-4 {
        left: 15%;
    }

    .effect-5 {
        right: 4%;
    }

    .about-section .about-img {
        padding-bottom: 30px;
    }

    .about-section .timeline .timeline-item:nth-child(odd) {
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
    }

    .about-section .timeline .timeline-item:nth-child(even) {
        padding-left: 75px;
    }

    .about-section .timeline::before {
        left: 35px;
    }

    .about-section .timeline .timeline-item:nth-child(odd) .icon {
        right: auto;
        left: -60px;
    }

    .about-section .timeline .timeline-item:nth-child(even) .icon {
        left: -60px;
    }

    .about-section .timeline .timeline-item {
        margin-bottom: 40px;
    }

    .about-section .timeline .timeline-item:last-child {
        margin-bottom: 0;
    }

    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner::before {
        left: -30px;
        right: auto;
    }
}




@media only screen and (max-width: 574px) {
    .home-section .home-img .img-box {
        max-width: 260px;
    }

    .home-section .home-text h2 {
        font-size: 40px;
    }

    .about-section .about-info,
    .about-section .about-img,
    .about-section .skills .skill-item,
    .home-section .home-text,
    .home-section .home-img,
    .service-section .service-item,
    .portfolio-section .portfolio-item,
    .portfolio-popup .description,
    .portfolio-popup .info,
    .contact-section .contact-item,
    .contact-section .w-50,
    .testimonial-section .testi-box {
        margin-left: 10px;
    }

    .style-switcher .style-switcher-toggler,
    .style-switcher .day-night,
    .hamburger-btn {
        background-color: var(--bg-black-50);
    }
}




@media only screen and (max-width: 450px) {
    .about-section .about-info,
    .about-section .about-img,
    .about-section .skills .skill-item,
    .home-section .home-text,
    .home-section .home-img,
    .service-section .service-item,
    .portfolio-section .portfolio-item,
    .portfolio-popup .description,
    .portfolio-popup .info,
    .contact-section .contact-item,
    .contact-section .w-50,
    .testimonial-section .testi-box {
        margin-left: 25px;
    }

    .portfolio-popup .pp-main {
        min-height: 60vh;
    }
}